# Компилированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
logs/
reports/
.mypy_cache/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Конфигурационные и секретные файлы
*.cursorrules
*.config
*.secret.key
*.config.ini

# Логи и базы данных
*.log
*.sqlite3

# Файлы и директории IDE/редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Файлы, генерируемые ОС
.DS_Store
Thumbs.db
